---
layout: index
alias: home
title: Pedro Marins
---

<header class="presentation">
	<div class="wrapper">
		<h1>Pedro Marins</h1>
		<p>{{ site.description }}</p>
		<a class="post-link" href="about">Saiba mais sobre mim...</a>
	</div>
</header>

<div class="wrapper content">
	<div class="post-headlines">
		<h1 class="box-heading">Blog</h1>
		<p class="box-description">Conteúdo <strong>técnico</strong>, <strong>empreendedorismo</strong> e outras <strong>aleatoriedades</strong> sobre as quais eu tenho algo para contar.</p>

		<ul class="post-list">
			{% for post in site.posts %}
			<li class="post-list-item">
				<a class="post-list-link" href="{{ post.url | prepend: site.url }}">
					<h2 class="post-list-title">{{ post.title }}</h2>
				</a>
				<p class="post-list-one_line">{{ post.one_line }}</p>
				<span class="post-list-meta">Publicado em {{ post.date | date: "%B %Y" }}</span>
			</li>
			{% endfor %}
		</ul>
		<p>Se quiser ver a lista completa de posts entre no <a class="post-list-link" href="/blog/"><strong>arquivo</strong></a>.</p>
	</div>

	<hr>

	<div class="events">
		<h1 class="box-heading">Eventos</h1>
		<p class="box-description">Lista com alguns dos eventos mais importantes que eu <strong>criei</strong>, <strong>organizei</strong> ou <strong>fui curador</strong>.</p>

		<ul class="events-list">
			<li class="event">
				<figure>
					<a href="">
						<div class="event-img">
							<img src="{{ site.url}}/assets/img/events/frontinrio.png" alt="Logo do Front in Rio">
						</div>
						<figcaption class="event-title">Front in Rio</figcaption>
					</a>
				</figure>
			</li>
			<li class="event">
				<figure>
					<a href="">
						<div class="event-img">
							<img src="{{ site.url}}/assets/img/events/geeks-on-beer.jpg" alt="Logo do Geeks On Beer">
						</div>
						<figcaption class="event-title">Geeks On Beer</figcaption>
					</a>
				</figure>
			</li>
			<li class="event">
				<figure>
					<a href="">
						<div class="event-img">
							<img src="{{ site.url}}/assets/img/events/riojs.png" alt="Logo do Rio.JS Conference">
						</div>
						<figcaption class="event-title">Rio.JS Conference</figcaption>
					</a>
				</figure>
			</li>
			<li class="event">
				<figure>
					<a href="">
						<div class="event-img">
							<img src="{{ site.url}}/assets/img/events/rio-info.png" alt="Logo do Rio Info">
						</div>
						<figcaption class="event-title">Rio Info</figcaption>
					</a>
				</figure>
			</li>
			<li class="event">
				<figure>
					<a href="">
						<div class="event-img">
							<img src="{{ site.url}}/assets/img/events/openspace-rio-logo-azul.png" alt="Logo do Open Space Rio">
						</div>
						<figcaption class="event-title">Open Space Rio</figcaption>
					</a>
				</figure>
			</li>
			<li class="event">
				<figure>
					<a href="">
						<div class="event-img">
							<img src="{{ site.url}}/assets/img/events/hdc.png" alt="Logo do Hack & Design Conference">
						</div>
						<figcaption class="event-title">Hack & Design Conference</figcaption>
					</a>
				</figure>
			</li>
		</ul>
	</div>

	<hr>

	<div class="newsletter">
		<h1 class="box-heading">Newsletter</h1>
		<p class="box-description">Tenho uma newsletter onde semanalmente compartilho as coisas mais interessantes que li, ouvi, fiz, estudei ou comprei. É bem bacana! Se quiser participar se inscreva abaixo. :D</p>

		{% include newsletter.html %}

	</div>
</div>