<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <ul class="social-media-list">
      <li>
        <a href="{{ site.twitter_url }}">Twitter</a>
      </li>
      <li>
        <a href="{{ site.github_url }}">Github</a>
      </li>
      <li>
        <a href="{{ site.facebook_url }}">Facebook</a>
      </li>
      <li>
        <a href="{{ site.linkedin_url }}">Linkedin</a>
      </li>
      <li>
        <a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">Feed/RSS</a>
      </li>
    </ul>

    <p class="copyleft">
      <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/br/">
        <img src="{{ site.url }}/assets/img/cc-by-nc-sa_icon.svg" alt="Creative Commons - By Nc Sa">
      </a>
    </p>

  </div>

</footer>
