<footer class="footer">

  <div class="footer-content">
    <ul class="footer-social">
      <li class="footer-social-item">
        <a class="footer-social-link" href="{{ site.twitter_url }}">Twitter</a>
      </li>
      <li class="footer-social-item">
        <a class="footer-social-link" href="{{ site.github_url }}">GitHub</a>
      </li>
      <li class="footer-social-item">
        <a class="footer-social-link" href="{{ site.facebook_url }}">Facebook</a>
      </li>
      <li class="footer-social-item">
        <a class="footer-social-link" href="{{ site.linkedin_url }}">LinkedIn</a>
      </li>
      <li class="footer-social-item">
        <a class="footer-social-link" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">Feed/RSS</a>
      </li>
    </ul>

    <p class="footer-heading">&copy; <strong>{{ site.title }}</strong> Alguns direitos reservados</p>
  </div>

</footer>

{% include contact.html %}