<nav class="header--nav">
    <ul class="header--list">
        <li class="header--item">
            <a href="/" class="header--link">Home</a>
        </li>
        <li class="header--item">
            <a href="/about" class="header--link">Sobre</a>
        </li>
        <li class="header--item">
            <a href="/blog" class="header--link">Blog</a>
        </li>
        <li class="header--item">
            <a href="/newsletter" class="header--link header--link-newsletter">Assine a Newsletter</a>
        </li>
    </ul>
</nav>