<header class="site-header">

    <a class="site-title" href="{{ site.url }}/">{{ site.title }}</a>

    <nav class="site-nav">
        <ul>
            <li class="nav-item">
                <a class="nav-link" href="/about/">sobre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/now/">now</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blog/">blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/newsletter/">newsletter</a>
            </li>
            <li class="nav-item">
                <label for="contact" class="nav-link">contato</label>
            </li>
        </ul>
    </nav>

</header>
