<div class="newsletter">
	<h1 class="newsletter-title">Inscreva-se<br>na Newsletter</h1>
	<p class="newsletter-text">Toda sexta são no máximo <strong>5 pontos</strong> para melhorar o seu fim de semana. <br>Sem spam, só conteúdo <strong>foda!</strong></p>

	<form class="newsletter-form" action="//pedromarins.us7.list-manage.com/subscribe/post?u=17c4c7327a19d836b56a178db&amp;id=c64f4f42b9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
		<input type="hidden" name="b_17c4c7327a19d836b56a178db_c64f4f42b9" tabindex="-1" value="">

		<input class="newsletter-email" type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder='Entre seu email' required>

		<div style="position: absolute; left: -5000px;" aria-hidden="true">
			<input type="text" name="b_17c4c7327a19d836b56a178db_c64f4f42b9" tabindex="-1" value="">
		</div>

	    <input class="newsletter-button" type="submit" value="Inscreva-se" name="subscribe" id="mc-embedded-subscribe">
	</form>
</div>