<div class="newsletter">
	<h1 class="box-heading">Inscreva-se na Newsletter</h1>
	<p class="box-description">Toda sexta são <strong>5 pontos</strong> para melhorar o seu fim de semana. Sem span, só conteúdo foda!</p>

	<form action="//pedromarins.us7.list-manage.com/subscribe/post?u=17c4c7327a19d836b56a178db&amp;id=c64f4f42b9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
		<div style="position: absolute; left: -5000px;">
	    	<input type="text" name="b_17c4c7327a19d836b56a178db_c64f4f42b9" tabindex="-1" value="">
	    </div>

		<input type="email" value="" name="EMAIL" class="newsletter-email" id="mce-EMAIL" placeholder='Entre seu email' required>

	    <input type="submit" value="Increva-se" name="subscribe" id="mc-embedded-subscribe" class="newsletter-button">
	</form>
</div>