*
    -moz-box-sizing: border-box
    box-sizing: border-box

body
    font-family: 'Open Sans', sans-serif
    border-top: 5px solid $red
    margin: 0

li
    list-style: none

a
    border-bottom: 1px solid $black
    text-decoration: none
    display: inline-block
    line-height: 0.95

.wrapper
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2))
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2))
    margin-right: auto
    margin-left: auto
    padding-right: $spacing-unit
    padding-left: $spacing-unit

    @include media-query($on-tablet)
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}))
        max-width:         calc(#{$content-width} - (#{$spacing-unit}))
        padding-right: $spacing-unit / 2
        padding-left: $spacing-unit / 2

.content
    margin-top: -$spacing-unit*8
    background: $white
    padding: $spacing-unit*2
    box-shadow: 0px 0px 5px rgba(0,0,0,.3)

    @include media-query($on-tablet)
        max-width: 96%

    @include media-query($on-mobile)
        padding: $spacing-unit

.presentation
    background: $dark-blue
    padding: $spacing-unit*2 0 $spacing-unit*10
    color: $white
    text-align: center

    @include media-query($on-tablet)
        padding-top: $spacing-unit*1
    h1
        font-size: 6em
        font-weight: 700
        text-transform: uppercase
        line-height: 1.7
        margin: 0

        @include media-query($on-tablet)
            font-size: 2.7em
    p
        font-size: 2em
        text-transform: uppercase

        @include media-query($on-tablet)
            font-size: 1em
    a
        color: $blue
        border-color: $blue
        font-size: 0.9em

        @include media-query($on-tablet)
            font-size: 0.8em

.box-heading
    font-size: 1.8em
    font-weight: 600
    text-transform: uppercase


// site-header ------------------------------------------------------------------------------------
.site-header
    background: $dark-blue
    position: relative
    margin: 0 0 $spacing-unit*2
    a
        color: white
        border: none
.site-title
    display: inline-block
    margin: 0 0 0 5%
    font-size: 1.2em
    line-height: $spacing-unit*2
.site-nav
    position: absolute
    top: 0
    right: 5%
    ul
        margin: 0
        padding: 0
.nav-item
    display: inline-block
    line-height: $spacing-unit*2
    margin: 0 0 0 $spacing-unit/2




// timeline ------------------------------------------------------------------------------------
.timelime-content
    position: relative
    text-align: center
    margin: $spacing-unit*2 0

    @include media-query($on-tablet)
        text-align: left
    &:after
        content: ""
        position: absolute
        height: 100%
        width: 1px
        background-color: $dark-blue
        left: 50%
        top: 0px

        @include media-query($on-tablet)
            left: 35px
    ul
        padding: 0

.timeline-year
    border: 1px solid $dark-blue
    background: $dark-blue
    font-size: 1em
    color: white
    font-weight: 700
    display: inline-block
    padding: $spacing-unit/2 $spacing-unit
    margin: $spacing-unit/3 0 $spacing-unit*2
    position: relative
    z-index: 10

    @include media-query($on-tablet)
        padding: $spacing-unit/3 $spacing-unit/2

.timeline-item
    width: 50%
    text-align: right
    padding: 0 $spacing-unit*1.5 0 0
    position: relative
    margin: 0 0 $spacing-unit*2

    @include media-query($on-tablet)
        width: 100%
        text-align: left
        padding: 0 0 0 $spacing-unit*3
    &:before
        content: ""
        width: 40px
        height: 40px
        border-radius: 50%
        border: 1px solid $dark-blue
        background: $red
        position: absolute
        top: -8px
        right: -22px
        z-index: 20
        transition: 0.8s
        color: white
        text-align: center
        line-height: 40px

        @include media-query($on-tablet)
            left: 14px
    &:after
        content: ""
        position: absolute
        height: 1px
        width: 40px
        background-color: $dark-blue
        top: 13px
        right: 0

        @include media-query($on-tablet)
            left: 40px
    h3
        margin: 0.6em 0
    time
        font-size: 0.75em
    p
        font-size: 0.9em
    a
        border-color: $dark-blue
        color: $dark-blue
    &:nth-child(2n)
        text-align: left
        padding: 0 0 0 $spacing-unit*1.5
        left: 50%

        @include media-query($on-tablet)
            width: 100%
            padding: 0 0 0 90px
            left: auto
        &:before
            left: -22px
            right: auto

            @include media-query($on-tablet)
                left: 14px
        &:after
            left: 0
            right: auto

            @include media-query($on-tablet)
                left: 40px
    &:hover:before
        transform: scale(1.2)

// timeline-icons ------------------------------------------------------------------------------------
.item-project:before
    content: "p"
.item-school:before
    content: "s"
.item-life:before
    content: "l"
.item-event:before
    content: "e"
.item-talk:before
    content: "t"
.item-job:before
    content: "j"

// post ------------------------------------------------------------------------------------
.post
    background: white
    padding: 0 5%
    color: $dark-blue

    @include media-query($on-tablet)
        padding: 0

.post-meta
    text-align: right
    margin: $spacing-unit*1.5 0 0
    font-size: 0.9em

.post-header
    text-align: center

.post-title
    font-size: 60px
    font-weight: 700
    margin: $spacing-unit*2.5 0 $spacing-unit
    line-height: 1

.post-subtitle
    font-weight: 300
    font-style: normal
    font-size: 32px
    margin: 0 0 $spacing-unit*3

.post-content
    p
        margin-bottom: $spacing-unit
        word-wrap: break-word
        font-size: 22px
        line-height: 1.5
    pre
        background: lighten($dark-blue, 10%)
        border-radius: 5px
        border: 1px solid $dark-blue
        width: 100%
        color: white
        box-shadow: inset 0 0 40px lighten($dark-blue, 30%)
        padding: $spacing-unit
    blockquote
        margin: 0
        text-align: center
        p
            font-size: 2em
            letter-spacing: .01em
            line-height: 1.4
            font-style: italic
            &:before
                content: '"'
            &:after
                content: '"'

hr
    border: none
    border-top: 10px solid $dark-blue
    border-bottom: 10px solid $blue
    height: 0

// post-footer ------------------------------------------------------------------------------------
.author
    border-top: 1px solid $gray
    border-bottom: 1px solid $gray
    padding: $spacing-unit 0

.author-img
    border-radius: 50%
    vertical-align: middle
    margin: 0 $spacing-unit/2 0 0

.author-name
    font-size: 18px
    vertical-align: middle
    display: inline-block

.author-follow
    float: right




