* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  width: 100%;
  position: relative; }

body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  z-index: 0;
  min-height: 100%;
  position: relative;
  padding: 0 0 130px;
  color: #333B46; }

li {
  list-style: none; }

a {
  color: #333B46; }

.wrapper {
  max-width: -webkit-calc(1000px - (30px * 2));
  max-width: calc(1000px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  position: relative; }
  @media screen and (max-width: 720px) {
    .wrapper {
      max-width: -webkit-calc(1000px - (30px));
      max-width: calc(1000px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

.content {
  padding: 60px 60px 0 60px; }
  @media screen and (max-width: 720px) {
    .content {
      max-width: 96%; } }
  @media screen and (max-width: 600px) {
    .content {
      padding: 30px 30px 60px; } }

.presentation {
  background: #333B46;
  padding: 60px 0 0;
  color: #FCFCFC;
  text-align: center; }
  @media screen and (max-width: 720px) {
    .presentation {
      padding-top: 30px; } }
  .presentation h1 {
    font-size: 6em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.7;
    margin: 0; }
    @media screen and (max-width: 720px) {
      .presentation h1 {
        font-size: 2.7em; } }
  .presentation p {
    font-size: 2em;
    text-transform: uppercase; }
    @media screen and (max-width: 720px) {
      .presentation p {
        font-size: 1em; } }
    @media screen and (max-width: 720px) {
      .presentation p {
        font-size: 0.8em; } }

.box-heading {
  font-size: 1.8em;
  font-weight: 600;
  text-transform: uppercase; }

.header--nav {
  background: #FFFFFF;
  border-bottom: 1px solid #efefef;
  box-shadow: 0 12px 12px #efefef; }

.header--list {
  margin: 0;
  padding: 0; }

.header--item {
  display: inline-block;
  width: 25%;
  margin: 0 -4px 0 0;
  text-align: center;
  border-left: 1px solid #efefef; }
  @media screen and (max-width: 720px) {
    .header--item {
      width: 100%;
      border-top: 1px solid #efefef;
      border-left: none; } }

.header--link {
  display: inline-block;
  color: #333B46;
  text-decoration: none;
  padding: 1.5em 0;
  width: 100%; }

.header--link-newsletter {
  background: #85FFF1;
  font-weight: 700; }

.home-about {
  padding: 5em 0;
  border-bottom: 5px solid #85FFF1;
  text-align: center; }

.home-about--title {
  font-size: 2.5em;
  color: #D83A4E;
  margin: 0;
  font-weight: 700; }

.home-about--texto {
  padding: 0 20%;
  margin: 2em 0 3em; }

.home-about--button {
  border: 3px solid #85FFF1;
  border-radius: 25px;
  color: #333B46;
  background: none;
  font-weight: 700;
  height: 50px;
  line-height: 44px;
  font-size: 1em;
  padding: 0 4em;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  position: relative; }
  .home-about--button:after {
    content: url(../img/arrow.svg);
    position: absolute;
    right: 12px;
    top: 2px;
    width: 20px;
    height: 20px;
    display: inline-block; }

.site-header {
  background: #333B46;
  position: relative; }
  .site-header a {
    color: white;
    border: none;
    text-decoration: none; }
    .site-header a:hover {
      text-decoration: underline; }

.site-title {
  display: inline-block;
  margin: 0 0 0 5%;
  font-size: 1.2em;
  line-height: 60px; }

.site-nav {
  position: absolute;
  top: 0;
  right: 5%; }
  .site-nav ul {
    margin: 0;
    padding: 0; }

.nav-item {
  display: inline-block;
  line-height: 60px;
  margin: 0 0 0 15px; }

.nav-link {
  color: white;
  cursor: pointer; }

.events-list {
  padding: 0;
  margin: 60px 0 0; }

.event {
  display: inline-block;
  vertical-align: top;
  width: 14%;
  margin: 0 1% 45px; }
  @media screen and (max-width: 720px) {
    .event {
      width: 30%; } }
  @media screen and (max-width: 600px) {
    .event {
      width: 47%; } }
  .event figure {
    margin: 0; }
  .event a {
    width: 100%;
    display: inline-block;
    border: none;
    text-align: center;
    color: #333B46;
    font-weight: 700; }

.event-img {
  height: 120px;
  width: 100%;
  margin: 0 0 15px;
  text-align: center; }
  .event-img img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: 100%;
    max-height: 100%; }

.eu {
  width: 100%; }

.about-heading {
  text-align: center;
  font-style: italic;
  font-size: 2.4em;
  font-weight: 600;
  text-transform: uppercase; }
  @media screen and (max-width: 720px) {
    .about-heading {
      font-size: 2em; } }
  @media screen and (max-width: 600px) {
    .about-heading {
      font-size: 1.6em; } }

.timelime-content {
  position: relative;
  text-align: center;
  margin: 60px 0; }
  @media screen and (max-width: 720px) {
    .timelime-content {
      text-align: left; } }
  .timelime-content:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #333B46;
    left: 50%;
    top: 0px; }
    @media screen and (max-width: 720px) {
      .timelime-content:after {
        left: 35px; } }
  .timelime-content ul {
    padding: 0; }

.timeline-year {
  border: 1px solid #333B46;
  background: #333B46;
  font-size: 1em;
  color: white;
  font-weight: 700;
  display: inline-block;
  padding: 15px 30px;
  margin: 10px 0 60px;
  position: relative;
  z-index: 10; }
  @media screen and (max-width: 720px) {
    .timeline-year {
      padding: 10px 15px; } }

.timeline-item {
  width: 50%;
  text-align: right;
  padding: 0 45px 0 0;
  position: relative;
  margin: 0 0 60px; }
  @media screen and (max-width: 720px) {
    .timeline-item {
      width: 100%;
      text-align: left;
      padding: 0 0 0 90px; } }
  .timeline-item:before {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #333B46;
    background: #D83A4E;
    position: absolute;
    top: -8px;
    right: -22px;
    z-index: 20;
    transition: 0.8s;
    color: white;
    text-align: center;
    line-height: 40px;
    padding: 4px; }
    @media screen and (max-width: 720px) {
      .timeline-item:before {
        left: 14px; } }
  .timeline-item:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 40px;
    background-color: #333B46;
    top: 13px;
    right: 0; }
    @media screen and (max-width: 720px) {
      .timeline-item:after {
        left: 40px; } }
  .timeline-item h3 {
    margin: 0.6em 0; }
  .timeline-item time {
    font-size: 0.75em; }
  .timeline-item p {
    font-size: 0.9em; }
  .timeline-item a {
    border-color: #333B46;
    color: #333B46; }
  .timeline-item:nth-child(2n) {
    text-align: left;
    padding: 0 0 0 45px;
    left: 50%; }
    @media screen and (max-width: 720px) {
      .timeline-item:nth-child(2n) {
        width: 100%;
        padding: 0 0 0 90px;
        left: auto; } }
    .timeline-item:nth-child(2n):before {
      left: -22px;
      right: auto; }
      @media screen and (max-width: 720px) {
        .timeline-item:nth-child(2n):before {
          left: 14px; } }
    .timeline-item:nth-child(2n):after {
      left: 0;
      right: auto; }
      @media screen and (max-width: 720px) {
        .timeline-item:nth-child(2n):after {
          left: 40px; } }
  .timeline-item:hover:before {
    transform: scale(1.3); }

.timeline-filter {
  text-align: center; }

.timeline-filter--button {
  border: 3px solid #333B46;
  background: #333B46;
  border-radius: 4px;
  color: white;
  font-weight: 400;
  font-size: 0.9em;
  display: inline-block;
  padding: 4px 5px;
  cursor: pointer;
  margin: 30px 4px 0;
  transition: 0.5s all;
  outline: 0; }
  .timeline-filter--button:before {
    content: "";
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 1px solid #333B46;
    background: #D83A4E;
    z-index: 20;
    transition: 0.8s;
    color: white;
    text-align: center;
    line-height: 26px;
    padding: 3px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 0; }
    @media screen and (max-width: 720px) {
      .timeline-filter--button:before {
        left: 14px; } }
  .timeline-filter--button:first-child {
    padding-right: 15px; }
    .timeline-filter--button:first-child:before {
      background: #333B46;
      width: 0; }

.timeline-filter--button-active {
  background: #85FFF1;
  color: #333B46; }

.item-project:before {
  content: url(../img/drincons/drincons-project.svg); }

.timeline-filter--button-project:before {
  content: url(../img/drincons/drincons-project.svg); }

.item-school:before {
  content: url(../img/drincons/drincons-school.svg); }

.timeline-filter--button-school:before {
  content: url(../img/drincons/drincons-school.svg); }

.item-event:before {
  content: url(../img/drincons/drincons-event.svg); }

.timeline-filter--button-event:before {
  content: url(../img/drincons/drincons-event.svg); }

.item-talk:before {
  content: url(../img/drincons/drincons-talk.svg); }

.timeline-filter--button-talk:before {
  content: url(../img/drincons/drincons-talk.svg); }

.item-job:before {
  content: url(../img/drincons/drincons-job.svg); }

.timeline-filter--button-job:before {
  content: url(../img/drincons/drincons-job.svg); }

.contact-helper {
  display: none; }
  .contact-helper:checked + .contact-form {
    z-index: 1000;
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    display: block; }

.contact-form {
  position: fixed;
  top: 0;
  background: #76869c;
  width: 100%;
  height: 100%;
  z-index: -1000;
  opacity: 0;
  -webkit-transition: transform 0.75s, z-index 0.75, opacity 0.75s;
  transition: transform 0.75s, z-index 0.75s, opacity 0.75s;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5); }
  .contact-form h4 {
    font-size: 1.3em;
    color: white;
    margin: 0 0 15px; }
  .contact-form form {
    width: 40%;
    margin: 90px auto 0;
    position: relative; }
    @media screen and (max-width: 720px) {
      .contact-form form {
        width: 65%; } }
    @media screen and (max-width: 600px) {
      .contact-form form {
        width: 90%; } }
  .contact-form label {
    color: white;
    margin: 0 0 10px;
    display: inline-block; }
  .contact-form input, .contact-form textarea {
    display: block;
    width: 100%;
    margin: 0 0 15px;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    color: #333B46; }
  .contact-form .contact-form-submit {
    background: #333B46;
    color: white;
    font-size: 1em;
    font-weight: 700;
    padding: 15px;
    cursor: pointer; }
    .contact-form .contact-form-submit:hover {
      background: #3e4755; }

.contact-form-active {
  z-index: 100;
  opacity: 1; }

.close-form {
  color: white;
  font-size: 60px;
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-weight: 300;
  cursor: pointer;
  outline: none; }

.now {
  padding: 5em 0;
  border-bottom: 5px solid #333B46;
  text-align: center; }

.now-title {
  font-size: 2.5em;
  font-weight: 700;
  color: #333B46;
  margin: 0; }
  .now-title:before {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background: #D83A4E;
    margin: 0 auto; }

.now-text {
  margin: 0; }

.now-list {
  padding: 0 2em; }
  @media screen and (max-width: 720px) {
    .now-list {
      padding: 0 1em; } }

.now-list--title {
  padding: 0;
  font-size: 2em; }

.now-list--item {
  display: inline-block;
  width: 25%;
  padding: 0 1em;
  margin: 0 0 0 -4px;
  vertical-align: top; }
  @media screen and (max-width: 720px) {
    .now-list--item {
      width: 50%;
      padding: 0 1em; } }

.now-list--text:before {
  content: url(../img/drincons/drincons-home-blog.svg);
  display: block;
  width: 20px;
  height: 30px;
  border-bottom: 3px solid #85FFF1;
  margin: 0 auto 1em;
  padding: 0 0.5em 0.5em; }

.now-list--blog:before {
  content: url(../img/drincons/drincons-home-blog.svg); }

.now-list--book:before {
  content: url(../img/drincons/drincons-home-book.svg); }

.now-list--course:before {
  content: url(../img/drincons/drincons-home-course.svg); }

.now-list--life:before {
  content: url(../img/drincons/drincons-home-life.svg); }

.now-list--newsletter:before {
  content: url(../img/drincons/drincons-home-newsletter.svg); }

.now-list--study:before {
  content: url(../img/drincons/drincons-home-study.svg); }

.now-list--time:before {
  content: url(../img/drincons/drincons-home-time.svg); }

.now-list--travel:before {
  content: url(../img/drincons/drincons-home-travel.svg); }

.headlines-page {
  background: #F3F3F4; }
  .headlines-page .headlines {
    border-bottom: none; }

.headlines {
  padding: 5em 0 0;
  border-bottom: 5px solid #85FFF1;
  text-align: center;
  background: #F3F3F4; }

.headlines-title {
  font-size: 2.5em;
  font-weight: 700;
  color: #333B46;
  margin: 0; }
  .headlines-title:before {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background: #85FFF1;
    margin: 0 auto; }

.headlines-list {
  margin: 3em 2em 0;
  padding: 0;
  text-align: left; }

.headlines-list-item {
  border-bottom: 1px solid #D9D9D9;
  padding: 0 0 2em; }
  .headlines-list-item:last-child {
    border: none; }

.headlines-list-link {
  text-decoration: none;
  display: block;
  width: 100%; }

.headlines-list-title {
  display: inline-block;
  width: 70%;
  padding: 0 20% 0 0;
  vertical-align: middle; }

.headlines-list-button {
  width: 29%;
  border: 3px solid #D9D9D9;
  border-radius: 25px;
  background: none;
  font-size: 0.9em;
  font-weight: 700;
  padding: 0 1em;
  height: 50px; }

.headlines-list-meta {
  font-size: 0.8em;
  font-weight: 700;
  color: #D83A4E; }

.headlines-archive {
  background: #333B46;
  color: #85FFF1;
  font-size: 1em;
  text-decoration: none;
  display: block;
  padding: 1em 0;
  margin: 3em 0 0;
  position: relative; }
  .headlines-archive span {
    position: relative; }
    .headlines-archive span:after {
      content: url(../img/arrow.svg);
      position: absolute;
      right: -30px;
      top: 0px;
      width: 20px;
      height: 20px;
      display: inline-block; }

.newsletter-page {
  background: #F3F3F4;
  height: 100%; }

.newsletter {
  padding: 5em 0;
  background: #F3F3F4;
  text-align: center; }
  @media screen and (max-width: 600px) {
    .newsletter {
      font-size: 0.9em; } }

.newsletter-title {
  font-size: 2.5em;
  font-weight: 700;
  color: #333B46;
  margin: 0 0 0.5em;
  line-height: 1; }
  .newsletter-title:before {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background: #D83A4E;
    margin: 0 auto; }

.newsletter-text {
  margin: 0 10%; }

.newsletter-form {
  margin: 3em 10% 0; }
  @media screen and (max-width: 600px) {
    .newsletter-form {
      margin-right: 5%;
      margin-left: 5%; } }

.newsletter-email {
  display: inline-block;
  width: 70%;
  margin: 0 0 0 -4px;
  border: none;
  font-size: 1.5em;
  padding: 1em;
  font-weight: 300; }
  @media screen and (max-width: 600px) {
    .newsletter-email {
      width: 100%; } }

.newsletter-button {
  display: inline-block;
  width: 30%;
  margin: 0 0 0 -4px;
  border: none;
  background: #85FFF1;
  color: #333B46;
  font-weight: 700;
  font-size: 1.5em;
  padding: 1em; }
  @media screen and (max-width: 600px) {
    .newsletter-button {
      width: 100%; } }

.post {
  background: white;
  max-width: 700px;
  margin: 0 auto;
  color: #333B46; }
  @media screen and (max-width: 720px) {
    .post {
      padding: 0; } }

.post-meta {
  text-align: right;
  margin: 45px 0 0;
  font-size: 0.9em; }

.post-header {
  text-align: center; }

.post-title {
  font-size: 60px;
  font-weight: 700;
  margin: 75px 0 30px;
  line-height: 1; }

.post-subtitle {
  font-weight: 300;
  font-style: normal;
  font-size: 32px;
  margin: 0 0 90px; }

.post-content p {
  margin-bottom: 30px;
  word-wrap: break-word;
  font-size: 22px;
  line-height: 1.5; }
.post-content pre {
  background: #485464;
  border-radius: 5px;
  border: 1px solid #333B46;
  width: 100%;
  color: white;
  box-shadow: inset 0 0 40px #76869c;
  padding: 30px; }
.post-content blockquote {
  margin: 0;
  text-align: center; }
  .post-content blockquote p {
    font-size: 2em;
    letter-spacing: 0.01em;
    line-height: 1.4;
    font-style: italic; }
    .post-content blockquote p:before {
      content: '"'; }
    .post-content blockquote p:after {
      content: '"'; }
.post-content h1 {
  font-size: 1.8em; }
.post-content h2 {
  font-size: 1.5em; }
.post-content h3 {
  font-size: 1.2em; }

hr {
  border: none;
  border-top: 10px solid #333B46;
  border-bottom: 10px solid #85FFF1;
  height: 0;
  margin: 60px 0; }

.post-share {
  border-top: 3px solid #D9D9D9;
  padding: 30px 0 60px;
  margin: 90px 0 0; }

.post-share-twitter {
  margin: 0 0 0 30px; }

.post-share-facebook {
  margin: 0 0 0 30px;
  top: -4px; }

.post-author {
  border-top: 3px solid #D9D9D9;
  padding: 30px 0; }

.post-author-img {
  border-radius: 50%;
  vertical-align: middle;
  margin: 0 15px 0 0; }

.post-author-name {
  font-size: 18px;
  vertical-align: middle;
  display: inline-block; }

.post-author-follow {
  float: right;
  margin: 15px 0 0; }

.post-comments {
  border-top: 3px solid #D9D9D9;
  padding: 30px 0 60px; }

.post-comments-disqus {
  margin: 0 0 90px; }

.footer {
  background: #333B46;
  margin: 0;
  font-size: 0.8em;
  padding: 2em 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 130px; }

.footer-content {
  width: 70%;
  margin: 0 auto; }
  @media screen and (max-width: 720px) {
    .footer-content {
      width: 90%; } }

.footer-heading {
  display: inline-block;
  color: #B3B3B3;
  margin: 0; }
  .footer-heading strong {
    color: white;
    font-weight: 700;
    text-transform: uppercase; }

.footer-social {
  padding: 0 0 1em; }

.footer-social-item {
  display: inline-block;
  margin: 0 0 0 1em; }
  .footer-social-item:first-child {
    margin: 0; }

.footer-social-link {
  color: #85FFF1;
  font-weight: 700;
  text-decoration: none; }

/*# sourceMappingURL=style.css.map */
