---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-subtitle">{{ page.subtitle }}</p>
    <p class="post-meta">
      <span>{{ page.author }}</span>
      <strong> • </strong>
      <span>
      <!-- Tradução da data -->
      {% assign m = page.date | date: "%-m" %}
      {{ page.date | date: "%-d" }} de 
      {% case m %}
        {% when '1' %}Janeiro
        {% when '2' %}Fevereiro
        {% when '3' %}Março
        {% when '4' %}Abril
        {% when '5' %}Maio
        {% when '6' %}Junho
        {% when '7' %}Julho
        {% when '8' %}Agosto
        {% when '9' %}Setembro
        {% when '10' %}Outubro
        {% when '11' %}Novembro
        {% when '12' %}Dezembro
      {% endcase %} de 
      {{ page.date | date: "%Y" }}
      </span>
      <strong> • </strong>
      <span class="post-time">Leitura de {{ page.reading }}</span>
    </p>
    
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <footer class="post-footer">
    <div class="post-share">
      <a href="https://twitter.com/share" class="post-share-twitter twitter-share-button" data-via="pedromarins" data-lang="pt" data-size="medium">Tweetar</a>

      <div class="post-share-facebook fb-share-button" data-href="{{ page.url | prepend: site.baseurl }}" data-layout="button_count"></div>
    </div>

    <div class="post-author">
      <img class="post-author-img" src="{{ site.url }}/assets/img/pedro-marins.jpg" alt="Pedro Marins">
      <h3 class="post-author-name">Pedro Marins</h3>
      <div class="post-author-follow">
        <a href="https://twitter.com/pedromarins" class="twitter-follow-button" data-show-count="false" data-lang="pt" data-size="large">Seguir @pedromarins</a>
      </div>
    </div>
  </footer>
</div>

{% include newsletter.html %}


<!-- Twitter share and follow buttons -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<!-- Facebook share button -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=1437113109931486";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>