---
layout: default
---

<div class="post">

  <header class="post-header">
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }} • Leitura de {{ page.reading }}</p>
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-subtitle">{{ page.subtitle }}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <footer class="post-footer">
    <div>
      <p>compartilhe</p>
    </div>

    <div class="author">
      <img class="author-img" src="{{ "/img/pedro-marins.jpg" | prepend: site.baseurl }}" alt="Pedro Marins">
      <h3 class="author-name">Pedro Marins</h3>
      <a class="author-follow" href="http://twitter.com/pedromarins">Twitter</a>
    </div>

    <div>
      <p>se inscreva na newsletter</p>
    </div>
    <!-- mailchimp -->

    <div>
      <p>comentários</p>
    </div>

  </footer>
</div>
